@import 'base/variables';
@import 'base/_animations';

* {
    font-family: 'Museo Sans Cyrl', sans-serif;
}
.container {
    max-width: 950px;
    margin: 0 auto;
}
@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/pluses';
@import 'blocks/buttons';
@import 'blocks/_consultation';
@import 'blocks/titles';
@import 'blocks/forms';
@import 'blocks/carousel';
@import 'blocks/catalog';
@import 'blocks/feedbacks';
@import 'blocks/footer';
@import 'blocks/modal';
@import 'blocks/pageup';


@import 'base/media';