@import 'base/variables';
@import 'base/mixins';


* {
    font-family: 'Museo Sans Cyrl', sans-serif;
}
.container {
    max-width: 950px;
    margin: 0 auto;
}
@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/pluses';
@import 'blocks/buttons';
@import 'blocks/_consultation';
@import 'blocks/titles';
@import 'blocks/forms';

@import 'base/media';