.promo {
    min-height: 650px;
    padding: 21px 0 93px 0;
    background: url(../../img/bg1.jpg) center (center/cover) no-repeat;
    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-top: 90px;
    }
    &__header {
        color: #ffffff;
        font-size: 42px;
        font-weight: 700;
        text-transform: uppercase;
    }
    &__subheader {
        color: #ffffff;
        font-size: 24px;
        font-weight: 500;
        text-transform: uppercase;
    }
    &__icons {
        display: flex;
        justify-content: flex-end;
        margin-right: 18px;
        margin-top: 67px;
    }
    &__icon {
        color: #ffffff;
        font-size: 14px;
        font-weight: 500;
        margin-left: 71px;
        text-align: center;
        img {
            display: block;
            margin: 0 auto;
            margin-bottom: 0px;
        }
    }
    &__link {
        color: #ffffff;
        font-size: 16px;
        font-weight: 500;
        margin-top: 18px;
        a {
            color: $main-color;
            text-transform: uppercase;
            text-decoration: underline;
        }
    }
}